@{
    ViewBag.title = "View Employee";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Employee Lists</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>User Name</th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                               
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var itm in ViewBag.usr)
                            {
                                <tr>
                                    <td>@itm.ID</td>
                                    <td>@itm.uname</td>
                                    <td>@itm.name</td>
                                    <td>@itm.phone</td>
                                    <td>@itm.email</td>
                                   
                                    <td>@itm.status</td>
                                    <td>
                                        <a href="#" class="btn btn-primary a-btn-slide-text" onclick="editm(@itm.ID);">
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                            <span><strong>Edit</strong></span>
                                        </a> <a href="#" class="btn btn-primary a-btn-slide-text" onclick="del(@itm.ID)">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            <span><strong>Delete</strong></span>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>

    <script>
        var id; // global variable
         var sts = '@ViewBag.sts';
    $(document).ready(function () {
        if (sts != "") {
             var x = document.getElementById("snackbar");
            x.innerHTML = sts;
            if (sts.includes("Successfully")) {
                x.style.backgroundColor = "#4BB543";
            }
            else {
                x.style.backgroundColor = "#ff0011";
            }
            
            x.className = "show";
            setTimeout(function () { x.className = x.className.replace("show", ""); }, 6000);
        }
        });
      
        function editm(valueId) {
            id = valueId;
            $("#editmodel").load("/Home/ediemp/" + id, function () {
                $('#myModal').modal('show');

            })
        }
        function del(eid) {
            $("#ID").val(eid);
            $('#delete').modal('show');
        }

    </script>
</section>
<div class="modal fade" id="myModal3">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Employee Performance</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div id="editmodel1"></div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Edit Employee</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div id="editmodel"></div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="empdel" asp-controller="Home">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>

                </div>
                <div class="modal-body">

                    <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>
                    <input name="ID" hidden id="ID" type="text" />
                    <div class="form-group">
                        <label for="comment">Reason for Delete:</label>
                        <textarea required class="form-control" rows="5" name="reason" cols="50" id="comment"></textarea>
                    </div>
                </div>
                <div class="modal-footer ">
                    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                </div>
            </form>

        </div>
        <!-- /.modal-content -->
    </div>
</div>
